@model VendaDeAutomoveis.Entidades.Endereco

<title>Cadastrar - Endereço</title>

@{
    ViewBag.Title = "Cadastrar - Endereço";
    Html.RenderPartial("_partial/_cabecalho_principal");
}

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Endereço
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Endereço</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                AQUI VAI UMA IMAGEM
                                @*<img src="~/Content/bootstrap/img/ccn.png" />*@
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("AdicionarEndereco", "Cliente", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                Html.AntiForgeryToken();

                                Html.RenderPartial("_partial/_CreateEdit_Endereco", Model);

                                Html.RenderPartial("~/Views/Shared/_partial/_btn_submit_cadastrar.cshtml");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
