@{
    ViewBag.Title = "Editar Cliente - Passo 1";
}

@model VendaDeAutomoveis.Entidades.Cliente

<br />
<br />
<br />

@using (Html.BeginForm("EditarClientes", "Cliente", FormMethod.Post))
{
    @Html.HiddenFor(a => a.Id);

    Html.RenderPartial("partial/_CreateEdit", Model);

    <div class="form_submit clearfix">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-primary btn-lg">Salvar</button>
            </div>
        </div>
    </div>
}
