@model VendaDeAutomoveis.Entidades.Cliente

<title>Cadastrar - Cliente</title>

@{
    ViewBag.Title = "Cadastrar - Cliente";
}

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Cliente
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Cliente</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                AQUI VAI UMA IMAGEM
                                @*<img src="~/Content/bootstrap/img/ccn.png" />*@
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("AdicionarCliente", "Cliente", FormMethod.Post, new { @class = "form-horizontal", @id = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                Html.RenderPartial("_partial/_CreateEdit", Model);

                                Html.RenderPartial("~/Views/Shared/_partial/_btn_submit_cadastrar.cshtml");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btnCadastrar').click(function () {
        var isValid = validForm();

        if (isValid == false) {
            saveLead();
        }
        else {
            $('#form').submit();
        }
    });

    var msgs = [];
    function validForm() {
        msgs = [];
        var campo;
        var isValid = true;

        campo = $("#Nome").val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#Nome').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencha o cliente.");
        } else {
            $('#Nome').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $('#rg').val();
        if (!campo && campo.length <= 0) {
            isValid = false;
            $('#rg').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário preencher o Modelo do veículo.");
        } else {
            $('#rg').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        campo = $("#cpf").val();
        campo = campo.replace(/[^\d]+/g, '')
        var cpfValido = validarCPF(campo);
        if (!campo && campo.length <= 0 || !cpfValido) {
            isValid = false;
            $('#cpf').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });

            if (!cpfValido) {
                msgs.push("CPF inválido!");
            }
            else {
                msgs.push("CPF não preenchido!");
            }
        } else {
            $('#cpf').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        return isValid;
    }

    function validarCPF(strCPF) {
        return true;
        var Soma;
        var Resto;
        Soma = 0;

        strCPF = strCPF.replace(/[^\d]+/g, '');

        if (strCPF == "00000000000" ||
            strCPF == "11111111111" ||
            strCPF == "22222222222" ||
            strCPF == "33333333333" ||
            strCPF == "44444444444" ||
            strCPF == "55555555555" ||
            strCPF == "66666666666" ||
            strCPF == "77777777777" ||
            strCPF == "88888888888" ||
            strCPF == "99999999999") return false;

        for (i = 1; i <= 9; i++)
            Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);

        Resto = (Soma * 10) % 11;

        if ((Resto == 10) || (Resto == 11))
            Resto = 0;

        if (Resto != parseInt(strCPF.substring(9, 10)))
            return false;

        Soma = 0;
        for (i = 1; i <= 10; i++)
            Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);

        Resto = (Soma * 10) % 11;

        if ((Resto == 10) || (Resto == 11))
            Resto = 0;
        if (Resto != parseInt(strCPF.substring(10, 11)))
            return false;

        campo = $("#Email").val();
        if (!campo && campo.length <= 0 || !validateEmail(campo)) {
            isValid = false;
            $('#Email').css({ "background-color": "#f8dbdb", "border-color": "#e77776" });
            msgs.push("É necessário fornecer um e-mail válido!");
        } else {
            $('#Email').css({ "background-color": "#fff", "border-color": "#ccc" });
        }

        return true;
    }

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function saveLead() {
        var form = document.forms[0];
        if (validForm()) {
            form.submit();
        }
        else {
            var novoHTML = "";
            for (var i = 0; i < msgs.length; i++) {
                var msg = msgs[i];
                novoHTML += msg + "<br />";
            }
            $('#modalError .modal-body').html(novoHTML);
            $('#modalError').modal('show');
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }
    }

</script>
