@model VendaDeAutomoveis.Entidades.Cliente

<title>Cadastrar - Cliente</title>

@{
    ViewBag.Title = "Cadastrar - Cliente";
}

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Cliente
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Cliente</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                AQUI VAI UMA IMAGEM
                                @*<img src="~/Content/bootstrap/img/ccn.png" />*@
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("AdicionarCliente", "Cliente", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.AntiForgeryToken()

                                Html.RenderPartial("_partial/_CreateEdit", Model);

                                Html.RenderPartial("~/Views/Shared/_partial/_btn_submit_cadastrar.cshtml");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>