.vs/VendaDeAutomoveis/v15/.suo
.vs/config/applicationhost.config
.vs/VendaDeAutomoveis/v15/sqlite3/storage.ide
.vs/config/applicationhost.config
VendaDeAutomoveis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VendaDeAutomoveis/obj/Debug/VendaDeAutomoveis.csproj.CoreCompileInputs.cache
.vs/config/applicationhost.config
VendaDeAutomoveis/bin/VendaDeAutomoveis.dll
VendaDeAutomoveis/bin/VendaDeAutomoveis.dll.config
VendaDeAutomoveis/bin/VendaDeAutomoveis.pdb
VendaDeAutomoveis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VendaDeAutomoveis/obj/Debug/VendaDeAutomoveis.csproj.CoreCompileInputs.cache
VendaDeAutomoveis/obj/Debug/VendaDeAutomoveis.csprojResolveAssemblyReference.cache
VendaDeAutomoveis/obj/Debug/VendaDeAutomoveis.dll
VendaDeAutomoveis/obj/Debug/VendaDeAutomoveis.pdb
VendaDeAutomoveis/Web.config
