.vs/VendaDeAutomoveis/v15/.suo
.vs/config/applicationhost.config
.vs/VendaDeAutomoveis/v15/sqlite3/storage.ide
.vs/config/applicationhost.config
VendaDeAutomoveis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
VendaDeAutomoveis/obj/Debug/VendaDeAutomoveis.csproj.CoreCompileInputs.cache
