@{
    Layout = "";
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ops! Erro</title>
    <meta name="author" content="Srinu">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
    <meta name="description" content="Slick Admin Admin UI">
    <meta name="keywords" content="Slick Admin, Admin UI, Admin Dashboard, Error, 404">

    <script src="~/Content/bootstrap/js/html5-trunk.js"></script>
    <link href="~/Content/bootstrap/icomoon/style.css" rel="stylesheet" />
    <!--<script src="css/icomoon-font/lte-ie7.js"></script>-->
    <![endif]-->
    <link href="~/Content/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/main.css" rel="stylesheet" />
</head>

<body>
    <div class="main-container">
        <div class="error-container">
            <h1>Oops!</h1>
            <h2>Desculpe-me, aconteceu um erro, volte para tela inicial.</h2>
            <div class="error-actions">
                <a href="@Url.Action("inicio", "pagina-principal-GDCars")" class="btn btn-success btn-large">
                    Voltar para Início
                </a>
            </div>
        </div>
    </div>
</body>
</html>