@model VendaDeAutomoveis.Entidades.Veiculo

@using (Html.BeginForm("Editar", "Veiculo", FormMethod.Post))
{
    @Html.HiddenFor(u => u.Id, new { @class = "form-control" })

    Html.RenderPartial("_partial/_CreateEdit", Model);

    <div class="form_submit clearfix">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-primary btn-lg">Salvar</button>
            </div>
        </div>
    </div>
}