@model VendaDeAutomoveis.Entidades.Veiculo

<title>Cadastrar - Veículo</title>

@{
    ViewBag.Title = "Cadastrar - Veículo";
    Html.RenderPartial("_partial/_cabecalho_principal");
}

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Veículo
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Veículo</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                AQUI VAI UMA IMAGEM
                                @*<img src="~/Content/bootstrap/img/ccn.png" />*@
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("AdicionarProduto", "Veiculo", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                Html.RenderPartial("_partial/_CreateEdit", Model);

                                Html.RenderPartial("~/Views/Shared/_partial/_btn_submit_cadastrar.cshtml");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/fileinput.js"></script>
<link href="~/Content/bootstrap-fileinput/css/fileinput.css" rel="stylesheet" />
<link href="~/Content/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />

@*<form id="formUploadArquivo" action="@Url.Action("SalvarArquivo", "Produto")" method="post" enctype="multipart/form-data">
    <label class="control-label">Selecione a imagem do veículo</label>
    <input type="file" name="file" class="file">
</form>


@section scripts{
    <script type="text/javascript">
        $(function () {
            $("#input-id").fileinput();

            // with plugin options
            $("#input-id").fileinput({ 'showUpload': false, 'previewFileType': 'any' });
        });

        $('.btn btn-default fileinput-upload fileinput-upload-button').click(function () {
            $('#formUploadArquivo').submit();
        });
       
    </script>
}*@

