@model VendaDeAutomoveis.Entidades.Veiculo

<title>Cadastrar - Veículo</title>

@{
    ViewBag.Title = "Cadastrar - Veículo";
    Html.RenderPartial("_partial/_cabecalho_principal");
}

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Veículo
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Veículo</li>
                    <li>/</li>
                    <li>Cadastrar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Cadastrar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail" id="image-holder"></div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("AdicionarProduto", "Veiculo", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                            {
                                Html.AntiForgeryToken();

                                Html.HiddenFor(model => model.Id);

                                Html.RenderPartial("_partial/_CreateEdit", Model);

                                <div id="wrapper">
                                    <input id="fileUpload" name="file" type="file">
                                </div>
                                <br />

                                Html.RenderPartial("~/Views/Shared/_partial/_btn_submit_cadastrar.cshtml");

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#fileUpload").on('change', function () {

        if (typeof (FileReader) != "undefined") {

            var image_holder = $("#image-holder");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image",
                    "style": "width: 90%"
                }).appendTo(image_holder);
            }
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("Este navegador nao suporta FileReader.");
        }
    });

</script>

