<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            GDCars - Automotiva
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Dashboard</li>
                </ul>
            </small>
        </h2>
        <ul class="stats hidden-xs">
            <li class="ruby-red-bg">
                <span class="fs1" aria-hidden="true" data-icon="&#xe042;"></span>
                <div class="details">
                    <span class="big">São Paulo</span>
                    <span class="small">UNIP - Chac. Sto Antônio</span>
                </div>
            </li>
            <li class="light-grey-bg">
                <span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>
                <div class="details">
                    <span class="big">R$ 7.589</span>
                    <span class="small">Vendas</span>
                </div>
            </li>
            <li class="ruby-red-bg">
                <span id="currentSale" class="graph"><canvas width="53" height="30" style="display: inline-block; width: 53px; height: 30px; vertical-align: top;"></canvas></span>
                <div class="details">
                    <span class="big">15</span>
                    <span class="small">Movimentações</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe096;"></span> Informativo
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <!-- Span4 start -->
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-header">
                                    <div class="title">
                                        <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Resumo
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-condensed table-bordered table-hover no-margin">
                                        <tbody>
                                            <tr>
                                                <td style="width:60%">
                                                    Clientes Cadastrados
                                                </td>
                                                <td style="width:40%">
                                                    <span class="label label-primary">
                                                         4
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:60%">
                                                    Clientes VIP's
                                                </td>
                                                <td style="width:40%">
                                                    <span class="label label-warning">
                                                        3
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width:60%">
                                                    Clientes Comuns
                                                </td>
                                                <td style="width:40%">
                                                    <span class="label label-danger">
                                                        1
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Vendas/Customizações
                                                </td>
                                                <td>
                                                    <span class="label label-info">
                                                        22
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Valor total Vendas/Customizações
                                                </td>
                                                <td>
                                                    <span class="label label-success">
                                                        28,123
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-header">
                                    <div class="title">
                                        <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Relatório
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-condensed table-bordered table-hover no-margin">
                                        <tbody>
                                            <tr>
                                                <td style="width:60%">
                                                    Diário
                                                </td>
                                                <td style="width:40%">
                                                    <span class="label label-primary">
                                                       R$ 312.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Semanal
                                                </td>
                                                <td>
                                                    <span class="label label-warning">
                                                        R$ 2,660.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Mensal
                                                </td>
                                                <td>
                                                    <span class="label label-danger">
                                                        R$ 22,660.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Trimestral
                                                </td>
                                                <td>
                                                    <span class="label label-info">
                                                        R$ 122,660.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Anual
                                                </td>
                                                <td>
                                                    <span class="label label-success">
                                                        R$ 830,500.00
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

