<div id="modalConfirme" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Confirmar</h5>
            </div>
            <div class="modal-body">
                <p>Você tem certeza que deseja salvar?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btnSalvarModal" class="btn btn-primary">Salvar</button>
                <button type="button" class="btn btn-default" style="float: left;" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
