<div id="modalDelete" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content alert alert-block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title">Confirmar</h5>
            </div>
            <div class="modal-body">
                <p id="textoExclusao">Você tem certeza que deseja Deletar?</p>
            </div>
            <input type="hidden" id="idObj" value="">
            <div class="modal-footer">
                <button type="button" id="confirmarDelete" class="btn btn-primary">Deletar</button>
                <button type="button" class="btn btn-default" style="float: left;" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>